:root {
    --text: 242, 242, 242;
    --background: 6, 12, 15; // #060c0f
    --primary: 62, 156, 172; // #3e9cac
    --secondary: 21, 103, 117; // #156775
    --accent: 6, 149, 178;
    --border-radius: 5px;
    --font-size: 16px;

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: var(--font-size);
    line-height: 1.2;
    font-weight: 400;

    color: rgb(var(--text));
    background-color: rgb(var(--background));
}

* {
    box-sizing: border-box;
}

//GENERAL STYLES STARTS
body,
p {
    padding: 0;
    margin: 0;
}

a {
    color: rgb(var(--text));
    text-decoration: none;
}

.link {
    font-weight: 700;
    cursor: pointer;
    transition: text-decoration 0.2s ease-in-out;

    &:hover {
        text-decoration: underline;
    }
}

.link--primary {
    color: rgb(var(--primary));
    stroke: rgb(var(--primary));
}

.sr-only {
    display: none;
}

.no-scroll {
    height: calc(100vh - 120px);
    overflow: hidden;
}

.svg-icon {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    color: white;
    fill: white;
    stroke: white;
    overflow: hidden;
}

.flex-column {
    display: flex;
    flex-flow: column nowrap;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.space-between-div {
    display: flex;
    justify-content: space-between;
}

//GENERAL STYLES ENDS

// NAVIGATION STARTS

nav {
    height: 60px;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid rgba(var(--text), 0.1);
}

menu {
    height: 60px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(var(--text), 0.1);

    .menu-item {
        padding: 1rem;
        font-size: 18px;
        transition: background-color 0.2s ease-in-out;
    }

    .menubar__trigger {
        display: flex;
        align-items: center;
        padding: 1rem;
        font-size: 18px;
        border: none;
        color: white;
        background-color: transparent;
        transition: background-color 0.2s ease-in-out;

        &[data-highlighted],
        &[data-state="open"] {
            background-color: rgb(var(--accent));
        }
    }
}

.menubar__content {
    background-color: rgb(var(--background));
    filter: drop-shadow(0 0 0.3rem rgba(var(--text), 0.1));
}

.menubar__item {
    padding: 0.5rem 1rem;

    &:hover {
        background-color: rgba(var(--text), 0.1);
    }
}

.menu-item:hover,
.menubar__trigger:hover {
    background-color: rgb(var(--accent));
}

.search-form {
    grid-area: search;
    position: relative;
    color: rgb(var(--background));
    flex: 1;
    max-width: 300px;

    .search-form__input {
        color: rgb(var(--background));
        background-color: rgba(var(--text), 1);
        border: 1px solid rgba(var(--text), 0.1);
        filter: drop-shadow(0 0 0.5rem rgba(var(--text), 0.1));
        border-radius: 5px;
        padding: 0.25rem;
        width: 100%;
    }

    .search-form__button {
        background: url("/search.svg") no-repeat;
        right: 8px;

        display: inline-block;
        height: 20px;
        position: absolute;
        width: 18px;
        border: none;
    }
}

.isActive {
    color: rgb(var(--primary));
}

.avatar-image {
    vertical-align: middle;
    width: 25px;
    height: 25px;
    padding: 5px;
    border-radius: 50%;
}

.avatar-image--nav {
    width: 25px;
    height: 25px;
    padding: 5px;
    background-color: rgba(var(--accent), 1);
}

.avatar-image--large {
    width: 60px;
    height: 60px;
    padding: 5px;
}

.dropdown-container {
    position: relative;
    margin-right: 10px;
    background-color: rgba(var(--background), 1);
    border: 1px solid rgba(var(--text), 0.1);
    border-radius: var(--border-radius);

    .dropdown__item {
        padding: 0.5rem 1rem;
        cursor: pointer;
        font-size: small;

        &:hover {
            text-decoration: underline;
            outline: none;
            background-color: rgba(var(--text), 0.1);
        }

        button {
            color: white;
            background-color: transparent;
            border: none;
            padding: 0;
            font-size: small;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    .dropdown__item:first-of-type {
        border-top-left-radius: var(--border-radius);
        border-top-right-radius: var(--border-radius);
    }

    .dropdown__item:last-of-type {
        border-bottom-left-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
    }
}

.separator {
    border-top: 1px solid rgb(var(--text), 0.5);
}

.separator--margin {
    margin: 0.5rem 0;
}

//NAVIAGTION ENDS
.avatar {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
}

.btn {
    border-radius: 5px;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
}

.btn-primary {
    color: rgb(var(--text));
    background-color: rgb(var(--primary));
}

.btn-secondary {
    color: rgb(var(--text));
    background-color: rgb(var(--secondary));
}

.btn--transparent {
    padding: 1rem;
    border: none;
    color: rgb(var(--text));
    background-color: transparent;
}

.btn--small {
    width: fit-content;
}

.btn--full {
    width: 100%;
}

.page__title {
    font-size: 24px;
}

.page-padding {
    padding: 0 1rem;
}

.heading {
    font-size: 25px;
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.text-right {
    text-align: right;
}

.book-cover--small {
    height: 150px;
    width: auto;
}

//RECOMMENDATIONS STARTS

.recommendations-page {
    padding: 1rem;
}

.recommendations__title {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.recommendations__more-link {
    text-align: right;
    margin-top: 1rem;
    font-size: 14px;

    &:hover {
        text-decoration: underline;
    }

    svg {
        vertical-align: middle;
        width: 1.2em;
        height: 1.2em;
    }
}

.recommendations__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem;
    list-style-type: none;
}

.book-row-container {
    overflow: hidden;
}

.book-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    gap: 0.1rem;
    list-style-type: none;
    padding: 1rem;
}

.book-row {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    scrollbar-width: none;
}

//RECOMMENDATIONS ENDS

//REVIEW PAGE STARTS

.review-page {
    padding: 0 1rem;
}

.review-page-information {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}

.review-form {
    gap: 1rem;
    margin: 1rem 0;
}

.review-form__label {
    gap: 1rem;
}

.review-input {
    padding: 10px;
    width: 100%;
}

//REVIEW PAGE ENDS

//AUTHOR PAGE STARTS

.author-page {
    padding: 0 1rem;
}

.book-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 10pt;
}

.book-table__author {
    font-size: 12pt;
    font-weight: 700;
}

.book-table td {
    vertical-align: top;
    border-bottom: .5px solid #e8e8e8;
    padding: 10px 5px;
}

.mini-ratings {
    display: flex;
    gap: 5px;
    align-items: center;
}

.rate-button-container {
    display: flex;
    flex-flow: column nowrap;
    gap: 5px;
    align-items: center;
}

//AUTHOR PAGE ENDS

//HOME PAGE STARTS

#signedOutHome .main-content {
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;

    .headerImage {
        max-width: 100%;
    }

    h1 {
        font-size: 24px;
        margin-bottom: 10px;
    }
    p {
        font-size: 14px;
        display: inline-block;
    }

    .cl-rootBox {
        display: none;
    }
}

#signedOutHome aside {
    padding: 1rem;

    .article__title {
        padding-bottom: 15px;
        text-align: left;

        &:hover {
            text-decoration: underline;
        }
    }

    .article__cover {
        width: 100%;
    }
}

#signedOutHome .promo {
    text-align: center;
}

#signedOutHome .description {
    padding: 0 1rem;
}

#signedOutHome .auth-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;

    gap: 1rem;
    margin-top: 10px;
    padding: 0 1rem;
    width: 100%;
}

#signedOutHome .authButtons {
    margin: 10px 0;
    width: 100%;

    button:first-of-type {
        width: 100%;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        border: none;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
        background-color: rgb(var(--primary));
    }
    button:last-of-type {
        border: none;
        background-color: transparent;
        padding-top: 15px;
        color: rgb(var(--accent));
        text-decoration: underline;
    }

    .terms {
        margin-top: 10px;
    }
}

#signedOutHome .recommendations {
    padding: 0 1rem;
    overflow: hidden;
}

#signedOutHome .genres__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style-type: none;
    padding: 0;

    .genres__item {
        padding: 0.5rem 1rem;
        border-radius: 5px;
        background-color: rgba(var(--text), 0.1);
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
}

#signedOutHome .recommendations__title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: start;
}
#signedOutHome .recommendations__list {
    justify-content: start;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 10px;
    list-style-type: none;
    overflow-x: scroll;
    padding: 0;
    scrollbar-width: none;

    .recommendations__card {
        height: 200px;
        width: auto;
    }
}

.currently-reading ul {
    padding: 0;
}

.feed {
    grid-area: feed;
}

.book-card__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    row-gap: 1rem;
}

.book-card {
    display: flex;
    gap: 10px;
    flex-basis: 30%;
    width: 100%;
    min-width: 200px;
    line-height: 1.2em;

    .book-card__information {
        overflow: hidden;
        font-size: 14px;
        flex-basis: 50%;
    }

    .book-card__title {
        font-weight: bold;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.book-card--outline {
    padding: 1rem;
    border: rgba(var(--text), 0.3) 1px solid;
    border-radius: var(--border-radius);
}

.book-card__cover-container,
.book-card__cover {
    height: 150px;
    width: 100%;
    flex-basis: 50%;
    min-width: 90px;
    background-color: rgba(var(--text), 0.4);
}

.book-card__cover--small {
    height: 100px;
    width: auto;
    min-width: 60px;
    background-color: rgba(var(--text), 0.1);
}

.book-card__cover--large {
    height: 200px;
    min-width: 120px;
    background-color: rgba(var(--text), 0.1);
}

.book-card__description {
    margin-top: 8px;
    line-height: 1.2em;
    max-height: 3.6em;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-basis: 50%;
}

.comments__container {
    display: flex;
    flex-flow: column nowrap;
    gap: 8px;
    margin: 16px 8px;
}

.comment {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    border-radius: var(--border-radius);

    .comment__meta {
        display: grid;
        grid-template-columns: 40px 1fr;
        grid-template-rows: 1fr 1fr;

        column-gap: 0.5rem;
    }

    .comment__author {
        font-weight: bold;
        grid-row: 1 / span 1;
    }

    .comment__avatar {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        grid-row: 1 / span 2;
    }

    .comment__div {
        justify-content: space-between;
        align-items: flex-end;
        gap: 0.5rem;
    }

    .comment__delete {
        padding: 0;
        color: rgb(var(--accent));
        text-decoration: underline;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}

.currently-reading__container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    row-gap: 1rem;
}

.reviews-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    row-gap: 1rem;
}

.feed-card {
    font-size: 14px;
    background-color: rgba(var(--text), 0.1);
    border-radius: var(--border-radius);
    border: 1px solid rgba(var(--text), 0.1);
    box-sizing: border-box;

    .feed-card__top {
        display: flex;
        gap: 4px;
        flex-flow: column wrap;
        padding: 1rem;
        box-sizing: border-box;
    }

    .feed-card__rating {
        display: flex;
        gap: 5px;
        align-items: center;
        font-size: 12px;
        color: rgba(var(--text), 0.5);
    }

    .feed-card__like-information {
        margin: 8px 0;
        padding: 10px 8px;
        border-top: 1px solid rgba(var(--text), 0.5);
        border-bottom: 1px solid rgba(var(--text), 0.5);
    }

    .feed-card__review {
        margin: 8px 0;
    }
}

//HOMEPAGE ENDS

footer {
    display: flex;
    flex-flow: column;
    gap: 2rem;
    font-size: 14px;
    padding: 1rem;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-flow: column;
}

@media (max-width: 576px) {
    .homepage {
        display: flex;
        gap: 1rem;
        flex-flow: column nowrap;
        margin: 10px 15px;
    }
}

@media (min-width: 576px) {
    .main {
        display: flex;
        justify-content: center;
    }

    .homepage {
        display: grid;
        grid-template-columns: 250px 1fr;
        grid-template-areas: "currently-reading feed";
        gap: 1rem;
        padding: 1rem;
        width: 100%;
        max-width: 1200px;
    }
    .currently-reading {
        max-width: 300px;
    }

    .feed-card__header {
        align-items: center;
        gap: 1rem;

        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .feed-card__top {
        padding: 16px 2rem;
    }

    .avatar--feed {
        position: absolute;
        margin-left: -20px;
        margin-top: 1rem;
    }

    #signedOutHome .main-content {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;

        .headerImage {
            display: none;
        }

        .hero-section {
            grid-row: 1;
            grid-column: 1 / span 4;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 4rem 1rem;
        }
        .promo {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
        }

        .auth-container {
            grid-row: 1;
            grid-column: 3 / span 2;
        }

        aside {
            grid-row: 2;
            grid-column: 4 / span 1;
            padding: 0 0.5rem;

            .article__cover {
                height: 150px;
                width: auto;
            }
        }

        .recommendations {
            grid-row: 2;
            grid-column: 1 / span 3;
            margin: 1rem;
            padding: 0 1rem;
            overflow: hidden;
        }

        .recommendation__container {
            margin-bottom: 0.5rem;
            padding: 0.5rem 1rem;
            border-radius: var(--border-radius);
            background-color: rgba(var(--primary), 0.2);
        }

        .genres__list {
            grid-template-columns: repeat(4, 1fr);
        }

        .cl-rootBox {
            display: block;
        }

        .authButtons {
            display: none;
        }
    }
    footer {
        flex-flow: row;

        .copyright {
            margin-left: auto;
        }
    }
}
